<div class="container">
  <div class="header">
    <mat-toolbar>
      <mat-toolbar-row>
          <mat-icon
          (click)="handleDrawerState()"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="menu"
            class="menu"
          ></mat-icon>
        <img
          src="https://www.gstatic.com/images/branding/product/2x/keep_2020q4_48dp.png"
          alt="logo"
          width="40px"
          class="logo"
        />
        <h1 id="heading">Keep</h1>
        <input type="search" matInput placeholder="Search" id="search" />
        <div style="display:flex;  gap:2vw;">
        <mat-icon
          aria-hidden="false"
          aria-label="Example refresh icon"
          fontIcon="refresh"
          id="rIcon"
          class="icon"
          (click) = "refresh()"
        ></mat-icon>
        
        <mat-icon
          *ngIf="!gridView"
          (click) = handleView()
          aria-hidden="false"
          aria-label="Example list-view icon"
          fontIcon="list-view"
          class="icon1"
        ></mat-icon>
        
        <mat-icon
          *ngIf="gridView"
          (click) = handleView()
          aria-hidden="false"
          aria-label="Example grid-view icon"
          svgIcon="grid-view"
          class="icon1"

        ></mat-icon>
        <mat-icon
          aria-hidden="false"
          aria-label="Example settings icon"
          fontIcon="settings"
          id="settings"
        ></mat-icon>
        </div>
        <mat-icon
          aria-hidden="false"
          aria-label="Example app icon"
          fontIcon="apps"
          class="app"
        ></mat-icon>
        
        <button id="logout"  mat-button [matMenuTriggerFor]="menu"><mat-icon>person</mat-icon></button>
              <mat-menu #menu="matMenu">
                <button (click) =logoutUser() mat-menu-item>Logout</button>
              </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  
</div>
