<div class="container">
  <div class="header">
    <mat-toolbar>
      <mat-toolbar-row>
        <button (click)="handleDrawerState()">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="menu"
            class="menuicon"
          ></mat-icon>
        </button>
        <img
          src="https://www.gstatic.com/images/branding/product/2x/keep_2020q4_48dp.png"
          alt="logo"
          width="40px"
          class="logo"
        />
        <h1 id="heading">Keep</h1>
        <input type="search" matInput placeholder="Search" id="search" />
        <mat-icon
          aria-hidden="false"
          aria-label="Example refresh icon"
          fontIcon="refresh"
          id="icons"
        ></mat-icon>
        <mat-icon
        *ngIf=""
          aria-hidden="false"
          aria-label="Example list-view icon"
          fontIcon="list-view"
          class="icon"
        ></mat-icon>
        <mat-icon
          aria-hidden="false"
          aria-label="Example settings icon"
          fontIcon="settings"
          class="icon"
        ></mat-icon>
        <mat-icon
          aria-hidden="false"
          aria-label="Example app icon"
          fontIcon="apps"
          class="appicon"
        ></mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  
</div>
