.menuicon {
      border-radius: 0px;
  }
  .logo {
      margin-left: 20px;
  }
  #heading {
      margin-left: 10px;
  }
  #search {
      margin-left: 110px;
      width: 55%;
      height: 65%;
      border:0.1px solid gray;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      background: transparent;
  }
  
#icons {
      margin-left: 50px;
  }
  
  .icon {
      margin-left: 20px;
  }
  
  .appicon {
      margin-left: 70px;
  }
  .sidenav {
      width: 8.5%;
      position: fixed;
  }
  .content {
      display: flex;
      flex-direction: row;
  }
  .container-content {
      margin-left: 10%;
  }

 @media only screen and (max-width:500px){ 
    
    .logo{
        margin-left:2px;
    }

    #heading {
        margin-left: 2px;
        
    }
    .mat-toolbar-row{
        width: 100vw;
        display:flex;
        justify-content: space-between;
    }
    #search {
        display:none;
    }
    .icon1{
        display: none;
    }
    
    .icon {
        margin-left: 5px;
    }
    
    .appicon {
        margin-left: 0px;
    }

    #settings{
        width:8%;
    }
    .container-content {
        margin-left: 2%;
    }
    .mat-toolbar{
        width: 100%;
        height: 100%;
    }
 }