<div class="note" [style.backgroundColor]="noteDetails.color">
      <span>{{ noteDetails.title }}</span>
      <span>{{ noteDetails.description }}</span>
      
      <div class="icons">
            <mat-icon svgIcon="reminder-icon" aria-hidden="false" aria-label="reminder icon"></mat-icon> 
            <mat-icon svgIcon="collabrator-icon" aria-hidden="false" aria-label="collabrator icon"></mat-icon>             
            <mat-icon svgIcon="color-palatte-icon" aria-hidden="false" aria-label="color pallatte icon"></mat-icon> 
            <mat-icon svgIcon="img-icon" aria-hidden="false" aria-label="img icon"></mat-icon>        
            <mat-icon (click)="archiveNote(noteDetails)" svgIcon="archive-icon" aria-hidden="false" aria-label="archive icon"></mat-icon> 
            <mat-icon (click)="deleteNote(noteDetails)" svgIcon="trash-icon" aria-hidden="false" aria-label="trash icon"></mat-icon>       
      </div>
</div>