.note{
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width:16vw;
      height:18vh;
      gap:5%;
      border:2px solid black;
}
.icons{
      display:flex;
      gap:5%;
}