.note{
      display:flex;
      flex-direction: column;
      justify-content: center;
      height:18vh;
      border: 1px solid gray;
      border-radius: 10px;
      padding: 10px;
      gap: 10px;
}
.icons{
      display:flex;
      gap:5%;
}
.note.top-shift{
      margin-top: 100px;
}
.note.grid-view{
      width: 16vw;
}
.note.list-view{
      width: 40vw;
}
.color-palette-icon {
      cursor: pointer; /* Ensure cursor changes to pointer on hover */
    }
  
.colorMenu{
      display: flex;
      
}
.colorOptions
    {
      width: 20px; 
      height: 20px;
      border-radius: 50%; /* Make buttons circular */
      margin: 2px; /* Add margin between buttons */
      border: 1px solid black;
    }