.note{
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height:18vh;
      border:2px solid black;
      border-radius: 20px;
}
.icons{
      display:flex;
      gap:5%;
}
.note.grid-view{
      width: 20vw;
}
.note.list-view{
      width: 80vw;
}
.color-palette-icon {
      cursor: pointer; /* Ensure cursor changes to pointer on hover */
    }
  
.colorMenu{
      display: flex;
      
}
.colorOptions
    {
      width: 20px; 
      height: 20px;
      border-radius: 50%; /* Make buttons circular */
      margin: 2px; /* Add margin between buttons */
      border: 1px solid black;
    }