<mat-drawer-container class="example-container" [hasBackdrop]="false">
      <mat-drawer id="snav" #drawer [mode]="'over'" [opened]="drawerState">
            <div>
              <mat-icon svgIcon="note-icon" aria-hidden="false" aria-label="note icon">notes</mat-icon>
            <span routerLink="/dashboard/notes">notes</span><br><br> 
            </div> 
            <div>
              <mat-icon svgIcon="reminder-icon" aria-hidden="false" aria-label="reminder icon">reminder</mat-icon>
            <span>reminder</span> <br><br>  
            </div>
             
            <div>
              <mat-icon svgIcon="edit-icon" aria-hidden="false" aria-label="edit icon">edit</mat-icon>
            <span>edit</span> <br><br>  
            </div>     
            <div (click)="archiveClick">
              <mat-icon svgIcon="archive-icon" aria-hidden="false" aria-label="archive icon">archive</mat-icon>        
            <span routerLink="/dashboard/archive">archive</span><br><br>
            </div>
            <div>
              <mat-icon svgIcon="delete-icon" aria-hidden="false" aria-label="delete icon">delete</mat-icon>
            <span routerLink="/dashboard/trash">trash</span> 
            </div>
      </mat-drawer>
      <mat-drawer-content id="main-cnt">
        <router-outlet></router-outlet>
      </mat-drawer-content>
      
    </mat-drawer-container>
    