.dNotes{
      width:100vw;
      height:60vh;
      display:flex;
      gap:2%;
      padding: 2%;
      margin-left: 5%;
}
.dNotes.grid-view{
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      width: 80vw;
}
.dNotes.list-view{
      flex-direction: column;
      width: 80vw;
      align-items: center;
}