.notehead{
      width:90vw;
      height:20vh;
}
.note-card{
      width: 80%;
      height:60%;
      margin-left:10%;  
      display:flex;
      flex-wrap: wrap;
      gap: 10px;
}

.note-card.grid-view{
      flex-direction: row;
}
    
.note-card.list-view{
      flex-direction: column;
      margin-left: 400px;      
      flex-wrap: nowrap;
}