.notehead{
      width:90vw;
      height:20vh;
      margin-bottom: 3%;
}
.note-card{
      width: 20%;
      height:20%;
      margin-left:10%;  
      display:flex;
      gap: 10px;
}

.note-card.grid-view{
      flex-direction: row;
}
    
.note-card.list-view{
      flex-direction: column;
}