<!-- there is shortcut to enclose some tag containing html code into div 
div>p and then press tab for enclosing paragraph tag -->

<form [formGroup]="LoginForm" (ngSubmit)="LoginUser()" >    
      <div class="outdiv">
            <label id="l1">
                  <span>G</span>
                  <span>o</span>
                  <span>o</span>
                  <span>g</span>
                  <span>l</span>
                  <span>e</span>
            </label>
            <label class="l2">Login</label>
            <label class="l3">Use your Google Account</label>               
            

        <mat-form-field  appearance="outline">
            <input class="i1" type="email" matInput  placeholder="  Email or phone*" formControlName="email">
            <mat-label>Email</mat-label>
            <div style="color:red;" *ngIf="submitted && f?.['email']?.errors?.['required']">email is required</div>
            <div style="color:red;" *ngIf="submitted && f?.['email']?.errors?.['email']">Email should be valid</div> 
        </mat-form-field>

        <mat-form-field appearance="outline">
            <input  type="password"  matInput placeholder="  Password*" formControlName="password">
            <div style="color:red;" *ngIf="submitted && f?.['password']?.errors?.['required']">Password is required</div>
            <div style="color:red;" *ngIf="submitted && f?.['password']?.errors?.['minlength']">Password should have atleast 6 characters</div>
            
        </mat-form-field>
        <a  href="">Forgot Password</a>
            
            <div class="buttonlink">
                  <a href="http://localhost:4200" id="l4">Create account</a>
                  <button mat-raised-button color="primary" type="submit">Login</button>                  
            </div>
            
      </div>
</form>

<!-- Note:
f?.['firstName']?.errors?.['required']: This is a chained property access using 
the safe navigation operator ?.. It's checking if there is a firstName field in the form (f),
 and if it has an errors object, and if that errors object contains a required error.
  This is commonly used to check if a form field has a specific error,
   such as a required field not being filled. -->