.outer{
      width:100%;
      height:30%;
      display:flex;
      flex-direction: column;
      align-items: center;
      gap:2%;
      padding:2%;
}
.inner-head{
      width:40vw;
      height:8vh;
      display:flex;
      align-items: center;
      box-sizing: border-box;
      border-radius:5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      padding:0.5%;
      gap:5%;
      
}
#note-head{
    height:6vh;
    width:80%;
    border:none;
    outline:none;
}
.inner-body{
      width:40vw;
      height:140vh;
      display:flex;
      box-sizing: border-box;
      flex-direction: column;
      gap:15%;
      padding:0.5%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      border-radius:5px;
}
.create-note-title-cnt{
      width:100%;
      border:none;
      outline:none;
      background: transparent;
}
.desc{
      width: 100%;
      border: none;
      outline:none;
      background: transparent;
}
.icon{
      display:flex;
      gap:5%;
}
#close{
      margin-left: 5rem;
      margin-bottom:3rem;
}

.color-palette-icon {
      cursor: pointer; /* Ensure cursor changes to pointer on hover */
    }
  
.colorMenu{
      display: flex;
      
}
.colorOptions
    {
      width: 20px; 
      height: 20px;
      border-radius: 50%; /* Make buttons circular */
      margin: 2px; /* Add margin between buttons */
      border: 1px solid black;
    }

@media only screen and (max-width:500px){ 
      .outer{
            width: 80vw;
            height: 8vh;
            margin-left:22vw;
      }
      .inner-head{
            width: 60vw;
            height:8vh;
      }
      .inner-body{
            width: 70vw;
            height:40vh !important;
            margin-right: 20px;
      }
      .icon{
            width: 60vw;
            height: 10vh;
      }
      #close{
            width: 20px !important;
            height: 18px !important;
            margin:1px;
      }
}