<div class="outer"> 
<div *ngIf="takeNote; else addNote"  (click)="handleCreateNote('open');">

      <div class="inner-head">
            <input id="note-head" type="text" placeholder="Take a Note">
            <mat-icon svgIcon="tick-icon" aria-hidden="false" aria-label="tick icon"></mat-icon> 
            <mat-icon svgIcon="brush-icon" aria-hidden="false" aria-label="brush icon"></mat-icon>             
            <mat-icon svgIcon="img-icon" aria-hidden="false" aria-label="img icon"></mat-icon> 
      </div>
</div>


      <ng-template #addNote>
            <div class="inner-body">
                  <div >
                        <input class="create-note-title-cnt" [(ngModel)]="title"  type="text" placeholder="title">
                  </div>
                  <div >
                        <input class="desc" [(ngModel)]="description" type="text" placeholder="description">
                  </div>
                  <div class="icon">
                  <mat-icon svgIcon="reminder-icon" aria-hidden="false" aria-label="reminder icon" id="remIcon"></mat-icon> 
                  <mat-icon svgIcon="collabrator-icon" aria-hidden="false" aria-label="collabrator icon" id="coIcon"></mat-icon>             
                  <!-- <mat-icon svgIcon="color-palatte-icon" (click)="colorNote();" aria-hidden="false" aria-label="color pallatte icon"></mat-icon>  -->
                  <mat-icon class="color-palatte-icon" [matMenuTriggerFor]="colorMenu">
                        <mat-icon svgIcon="color-palatte-icon" aria-hidden="false" aria-label="color pallatte icon" id="cIcon"></mat-icon>
                  </mat-icon>
                        <mat-menu #colorMenu="matMenu" class="colorMenu">                  
                              <button mat-menu-item>
                              <button class="colorOptions"  (click)="changeColor('#B4DDD3')" style="background-color: #B4DDD3"></button>
                              <button class="colorOptions"  (click)="changeColor('#E2F6D3')" style="background-color: #E2F6D3"></button>
                              <button class="colorOptions"  (click)="changeColor('#D4E4ED')" style="background-color: #D4E4ED"></button>
                              <button class="colorOptions"  (click)="changeColor('#AECCDC')" style="background-color: #AECCDC"></button>
                              <button class="colorOptions"  (click)="changeColor('#D3BFDB')" style="background-color: #D3BFDB"></button>
                              <button class="colorOptions"  (click)="changeColor('#F6E2DD')" style="background-color: #F6E2DD"></button>
                              <button class="colorOptions"  (click)="changeColor('#E9E3D4')" style="background-color: #E9E3D4"></button>
                              <button class="colorOptions"  (click)="changeColor('#EFEFF1')" style="background-color: #EFEFF1"></button>
                              </button>
                        </mat-menu>
                   
                  <mat-icon svgIcon="img-icon" aria-hidden="false" aria-label="img icon" id="iIcon"></mat-icon>        
                  <mat-icon svgIcon="archive-icon" aria-hidden="false" aria-label="archive icon"></mat-icon> 
                  <mat-icon svgIcon="trash-icon" aria-hidden="false" aria-label="trash icon"></mat-icon>
                  <mat-icon svgIcon="undo-icon" aria-hidden="false" aria-label="undo icon"></mat-icon>
                  <mat-icon svgIcon="redo-icon" aria-hidden="false" aria-label="redo icon"></mat-icon>
                  <button id="close" mat-raised-button color="primary" (click)="handleCreateNote('close')">Close</button>
                  </div>
                  
                  
            </div>
            
      </ng-template>
       
 </div>
